/* inputButton coloring rules */

@mixin inputButtonLightTheme {
    color: black;
    background-color: inherit;
}

@mixin inputButtonDarkTheme {
    color: white;
    background-color: inherit;
}

.inputButton-light {
    @include inputButtonLightTheme;
}

.inputButton-dark {
    @include inputButtonDarkTheme;
}

/* inputButton desktop sizing rules */


@mixin inputButton {
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    border: 0;
    box-shadow: .5vw .5vh 8px rgba(0, 0, 0, 0.18), 0 1px 8px rgba(0, 0, 0, .6);

}
.inputButton-light {
    @include inputButton;
}

.inputButton-dark {
    @include inputButton;
}

/* inputButton mobile sizing rules */


@mixin inputButtonMobile {
        width: 7.5vw;
        height: 7.5vw;
        border-radius: 50%;
        border: 0;
        outline: none;
        box-shadow: .5vw .5vh 8px rgba(0, 0, 0, 0.18), 0 1px 8px rgba(0, 0, 0, .6);
   
}

@mixin inputButtonMobileActive {
    transform: translateY(12%) scaleX(0.9) scaleY(0.9) rotateX(10deg);
    transition: all .2s;
}

@media only screen and (max-width: 600px){

    .inputButton-light {
      @include inputButtonMobile;
    }
    .inputButton-light:active {
        
        @include inputButtonMobileActive;
        
     }
     
    .inputButton-dark {
        @include inputButtonMobile;
    }

    .inputButton-dark:active {
        @include inputButtonMobileActive;
     }
}







/* styles for the larger button bellow 

*/

/* bigInputButton coloring rules */


.bigInputButton-light {
    @include inputButtonLightTheme;
}
.bigInputButton-dark {
    @include inputButtonDarkTheme;
}

/* bigInputButton desktop sizing rules */



.bigInputButton{
    width: 2.5vw;
    height: 10vw;
}

@mixin bigInputButton {
    width: inherit;
    height: inherit;
    border-radius: 50%;
    border: 0;
    box-shadow: .5vw .5vh 8px rgba(0, 0, 0, 0.18), 0 1px 8px rgba(0, 0, 0, .6);

}

.bigInputButton-light {
    @include bigInputButton;
  }

.bigInputButton-dark {
    @include bigInputButton;
}


@mixin bigInputButtonMobile {
    width: 7.5vw;
    height: 20vw;
    border-radius: 15%;
    border: 0;
    outline: none;
    margin-left: 150%;
    box-shadow: .5vw .5vh 8px rgba(0, 0, 0, 0.18), 0 1px 8px rgba(0, 0, 0, .6);
}

@mixin bigInputButtonMobileActive {
    transform: translateX(-2%) translateY(8%) scaleX(0.97) scaleY(0.97) rotateX(5deg);
    transition: all .2s;
}
/* bigInputButton mobile sizing rules */
@media only screen and (max-width: 600px){

    .bigInputButton-light {
      @include bigInputButtonMobile();
    }

    .bigInputButton-light:active {
        //rule defined above
        @include bigInputButtonMobileActive();
    }
    
    .bigInputButton-dark {
        @include bigInputButtonMobile();
    }
    .bigInputButton-dark:active {
        //rule defined above
        @include bigInputButtonMobileActive();
    }
}