/* inputButton coloring rules */
.inputButton-light {
  color: black;
  background-color: inherit;
}

.inputButton-dark {
  color: white;
  background-color: inherit;
}

/* inputButton desktop sizing rules */
.inputButton-light {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  border: 0;
  -webkit-box-shadow: 0.5vw 0.5vh 8px rgba(0, 0, 0, 0.18), 0 1px 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0.5vw 0.5vh 8px rgba(0, 0, 0, 0.18), 0 1px 8px rgba(0, 0, 0, 0.6);
}

.inputButton-dark {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  border: 0;
  -webkit-box-shadow: 0.5vw 0.5vh 8px rgba(0, 0, 0, 0.18), 0 1px 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0.5vw 0.5vh 8px rgba(0, 0, 0, 0.18), 0 1px 8px rgba(0, 0, 0, 0.6);
}

/* inputButton mobile sizing rules */
@media only screen and (max-width: 600px) {
  .inputButton-light {
    border-radius: 50%;
    border: 0;
    outline: none;
    -webkit-box-shadow: 0.5vw 0.5vh 8px rgba(0, 0, 0, 0.18), 0 1px 8px rgba(0, 0, 0, 0.6);
            box-shadow: 0.5vw 0.5vh 8px rgba(0, 0, 0, 0.18), 0 1px 8px rgba(0, 0, 0, 0.6);
    width: 10vw;
    height: 10vw;
  }
  .inputButton-light:active {
    -webkit-transform: translateY(12%) scaleX(0.9) scaleY(0.9) rotateX(10deg);
            transform: translateY(12%) scaleX(0.9) scaleY(0.9) rotateX(10deg);
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  .inputButton-dark {
    border-radius: 50%;
    border: 0;
    outline: none;
    -webkit-box-shadow: 0.5vw 0.5vh 8px rgba(0, 0, 0, 0.18), 0 1px 8px rgba(0, 0, 0, 0.6);
            box-shadow: 0.5vw 0.5vh 8px rgba(0, 0, 0, 0.18), 0 1px 8px rgba(0, 0, 0, 0.6);
    width: 10vw;
    height: 10vw;
  }
  .inputButton-dark:active {
    -webkit-transform: translateY(12%) scaleX(0.9) scaleY(0.9) rotateX(10deg);
            transform: translateY(12%) scaleX(0.9) scaleY(0.9) rotateX(10deg);
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  /** sizing rules for thin viewports **/
}

@media only screen and (max-width: 600px) and (max-aspect-ratio: 1 / 2) {
  .inputButton-light {
    border-radius: 50%;
    border: 0;
    outline: none;
    -webkit-box-shadow: 0.5vw 0.5vh 8px rgba(0, 0, 0, 0.18), 0 1px 8px rgba(0, 0, 0, 0.6);
            box-shadow: 0.5vw 0.5vh 8px rgba(0, 0, 0, 0.18), 0 1px 8px rgba(0, 0, 0, 0.6);
    width: 11vw;
    height: 11vw;
  }
  .inputButton-dark {
    border-radius: 50%;
    border: 0;
    outline: none;
    -webkit-box-shadow: 0.5vw 0.5vh 8px rgba(0, 0, 0, 0.18), 0 1px 8px rgba(0, 0, 0, 0.6);
            box-shadow: 0.5vw 0.5vh 8px rgba(0, 0, 0, 0.18), 0 1px 8px rgba(0, 0, 0, 0.6);
    width: 11vw;
    height: 11vw;
  }
}

/* styles for the larger button bellow 

*/
/* bigInputButton coloring rules */
.bigInputButton-light {
  color: black;
  background-color: inherit;
}

.bigInputButton-dark {
  color: white;
  background-color: inherit;
}

/* bigInputButton desktop sizing rules */
.bigInputButton {
  width: 2.5vw;
  height: 10vw;
}

.bigInputButton-light {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  border: 0;
  -webkit-box-shadow: 0.5vw 0.5vh 8px rgba(0, 0, 0, 0.18), 0 1px 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0.5vw 0.5vh 8px rgba(0, 0, 0, 0.18), 0 1px 8px rgba(0, 0, 0, 0.6);
}

.bigInputButton-dark {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  border: 0;
  -webkit-box-shadow: 0.5vw 0.5vh 8px rgba(0, 0, 0, 0.18), 0 1px 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0.5vw 0.5vh 8px rgba(0, 0, 0, 0.18), 0 1px 8px rgba(0, 0, 0, 0.6);
}

/* bigInputButton mobile sizing rules */
@media only screen and (max-width: 600px) {
  .bigInputButton-light {
    border-radius: 20%;
    border: 0;
    outline: none;
    -webkit-box-shadow: 0.5vw 0.5vh 8px rgba(0, 0, 0, 0.18), 0 1px 8px rgba(0, 0, 0, 0.6);
            box-shadow: 0.5vw 0.5vh 8px rgba(0, 0, 0, 0.18), 0 1px 8px rgba(0, 0, 0, 0.6);
    width: 8.5vw;
    height: 27.5vw;
    margin-top: 10%;
    margin-left: 150%;
  }
  .bigInputButton-light:active {
    -webkit-transform: translateX(-2%) translateY(8%) scaleX(0.97) scaleY(0.97) rotateX(5deg);
            transform: translateX(-2%) translateY(8%) scaleX(0.97) scaleY(0.97) rotateX(5deg);
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  .bigInputButton-dark {
    border-radius: 20%;
    border: 0;
    outline: none;
    -webkit-box-shadow: 0.5vw 0.5vh 8px rgba(0, 0, 0, 0.18), 0 1px 8px rgba(0, 0, 0, 0.6);
            box-shadow: 0.5vw 0.5vh 8px rgba(0, 0, 0, 0.18), 0 1px 8px rgba(0, 0, 0, 0.6);
    width: 8.5vw;
    height: 27.5vw;
    margin-top: 10%;
    margin-left: 150%;
  }
  .bigInputButton-dark:active {
    -webkit-transform: translateX(-2%) translateY(8%) scaleX(0.97) scaleY(0.97) rotateX(5deg);
            transform: translateX(-2%) translateY(8%) scaleX(0.97) scaleY(0.97) rotateX(5deg);
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  /** sizing rules for thin view ports */
}

@media only screen and (max-width: 600px) and (max-aspect-ratio: 1 / 2) {
  .bigInputButton-light {
    border-radius: 20%;
    border: 0;
    outline: none;
    -webkit-box-shadow: 0.5vw 0.5vh 8px rgba(0, 0, 0, 0.18), 0 1px 8px rgba(0, 0, 0, 0.6);
            box-shadow: 0.5vw 0.5vh 8px rgba(0, 0, 0, 0.18), 0 1px 8px rgba(0, 0, 0, 0.6);
    width: 9.5vw;
    height: 30vw;
    margin-left: 210%;
  }
  .bigInputButton-dark {
    border-radius: 20%;
    border: 0;
    outline: none;
    -webkit-box-shadow: 0.5vw 0.5vh 8px rgba(0, 0, 0, 0.18), 0 1px 8px rgba(0, 0, 0, 0.6);
            box-shadow: 0.5vw 0.5vh 8px rgba(0, 0, 0, 0.18), 0 1px 8px rgba(0, 0, 0, 0.6);
    width: 9.5vw;
    height: 30vw;
    margin-left: 210%;
  }
}
/*# sourceMappingURL=InputButton.css.map */