/* inputButton coloring rules */

@mixin inputButtonLightTheme {
    color: black;
    background-color: inherit;
}

@mixin inputButtonDarkTheme {
    color: white;
    background-color: inherit;
}

.inputButton-light {
    @include inputButtonLightTheme;
}

.inputButton-dark {
    @include inputButtonDarkTheme;
}

/* inputButton desktop sizing rules */


@mixin inputButton {
    width: 3.7vw;
    height: 3.7vw;
    border-radius: 50%;
    border: 0;
    box-shadow: .5vw .5vh 8px rgba(0, 0, 0, 0.18), 0 1px 8px rgba(0, 0, 0, .6);

}
.inputButton-light {
    @include inputButton;
}

.inputButton-dark {
    @include inputButton;
}

/* inputButton mobile sizing rules */


@mixin inputButtonMobile {
        border-radius: 50%;
        border: 0;
        outline: none;
        box-shadow: .5vw .5vh 8px rgba(0, 0, 0, 0.18), 0 1px 8px rgba(0, 0, 0, .6);
   
}

@mixin inputButtonMobileThin {
    @include inputButtonMobile;
    width: 11vw;
    height: 11vw;
}

@mixin inputButtonMobileWide {
    @include inputButtonMobile;
    width: 10vw;
    height: 10vw;
}


@mixin inputButtonMobileActive {
    transform: translateY(12%) scaleX(0.9) scaleY(0.9) rotateX(10deg);
    transition: all .2s;
}

@media only screen and (max-width: 600px){

   
    .inputButton-light {
      @include inputButtonMobileWide;
    }
    .inputButton-light:active {
        
        @include inputButtonMobileActive;
        
     }
     
    .inputButton-dark {
        @include inputButtonMobileWide;
    }

    .inputButton-dark:active {
        @include inputButtonMobileActive;
     }

    /** sizing rules for thin viewports **/
    @media (max-aspect-ratio: 1/2) {
        .inputButton-light {
            @include inputButtonMobileThin;
          }

        .inputButton-dark {
            @include inputButtonMobileThin;
        }

    }
}







/* styles for the larger button bellow 

*/

/* bigInputButton coloring rules */


.bigInputButton-light {
    @include inputButtonLightTheme;
}
.bigInputButton-dark {
    @include inputButtonDarkTheme;
}

/* bigInputButton desktop sizing rules */



.bigInputButton{
    width: 3vw;
    height: 10vw;
    
}

@mixin bigInputButton {
    width: inherit;
    height: inherit;
    border-radius: 20%;
    border: 0;
    margin-top: -10%;
    margin-left: 70%;
    box-shadow: .5vw .5vh 8px rgba(0, 0, 0, 0.18), 0 1px 8px rgba(0, 0, 0, .6);

}

.bigInputButton-light {
    @include bigInputButton;
  }

.bigInputButton-dark {
    @include bigInputButton;
}



@mixin bigInputButtonMobile {
    border-radius: 20%;
    border: 0;
    outline: none;
    box-shadow: .5vw .5vh 8px rgba(0, 0, 0, 0.18), 0 1px 8px rgba(0, 0, 0, .6);
}

@mixin bigInputButtonMobileThin {
    @include bigInputButtonMobile();
    width:  9.5vw;
    height: 30vw;
    margin-left: 210%;
}

@mixin bigInputButtonMobileWide {
    @include bigInputButtonMobile();
    width: 8.5vw;
    height: 27.5vw;
    margin-top: 10%;
    margin-left: 150%;
}


@mixin bigInputButtonMobileActive {
    transform: translateX(-2%) translateY(8%) scaleX(0.97) scaleY(0.97) rotateX(5deg);
    transition: all .2s;
}
/* bigInputButton mobile sizing rules */
@media only screen and (max-width: 600px){

    .bigInputButton-light {
      @include bigInputButtonMobileWide();
    }

    .bigInputButton-light:active {
        //rule defined above
        @include bigInputButtonMobileActive();
    }
    
    .bigInputButton-dark {
        @include bigInputButtonMobileWide();
    }
    .bigInputButton-dark:active {
        //rule defined above
        @include bigInputButtonMobileActive();
    }

    /** sizing rules for thin view ports */
    @media (max-aspect-ratio: 1/2) {

        .bigInputButton-light {
            @include bigInputButtonMobileThin();
        }

        .bigInputButton-dark {
            @include bigInputButtonMobileThin();
        }

    }
}