@import 'BigInputButton.scss';
@import './templateMixins/ButtonMixins.scss';


/** global styling rules **/

.inputButton-light {
    @include inputButtonLightTheme;
}

.inputButton-dark {
    @include inputButtonDarkTheme;
}

/* inputButton desktop sizing rules */


@mixin inputButton {
    width: 4.5vw;
    height: 4.5vw;
    border-radius: 50%;
    border: 0;
    outline: none;
    


}

@mixin inputButtonActive {
    transform: translateY(12%) scaleX(0.9) scaleY(0.9) rotateX(10deg);
    transition: all $transition-time;
}

.inputButton-light {
    @include inputButton;
    box-shadow: $darkShadow;
}

.inputButton-light:active  {
    @include inputButtonActive();
}

.inputButton-dark {
    @include inputButton;
    box-shadow: $lightShadow
}

.inputButton-dark:active  {
    @include inputButtonActive();
}



/** iPads or wide shorter desktop viewports */


@mixin inputButtonWide {
    width: 6vw;
    height: 6vw;
}

@media only screen and (max-width: 1100px){
    .inputButton-light {
        @include inputButtonWide;
    }
    
    .inputButton-dark {
        @include inputButtonWide;
    }
    
}


/** wide shorter desktop viewports */


@mixin inputButtonWide {
    width: 7vw;
    height: 7vw;
}

@media only screen and (max-width: 900px){
    .inputButton-light {
        @include inputButtonWide;
    }
    
    .inputButton-dark {
        @include inputButtonWide;
    }
    
}



/* inputButton mobile sizing rules */


@mixin inputButtonMobile {
        border-radius: 50%;
        border: 0;
        outline: none;
   
}

@mixin inputButtonMobileThin {
    @include inputButtonMobile;
    width: 11vw;
    height: 11vw;
}

@mixin inputButtonMobileWide {
    @include inputButtonMobile;
    width: 10vw;
    height: 10vw;
    
}


@mixin inputButtonMobileActive {
    transform: translateY(12%) scaleX(0.9) scaleY(0.9) rotateX(10deg);
    transition: all $transition-time;
}


@media only screen and (max-width: 400px){

   
    .inputButton-light {
      @include inputButtonMobileWide;

      box-shadow: $darkShadow;
    }
    .inputButton-light:active {
        
        @include inputButtonMobileActive;
        
     }
     
    .inputButton-dark {
        @include inputButtonMobileWide;
        box-shadow: $lightShadow
    }

    .inputButton-dark:active {
        @include inputButtonMobileActive;
     }

    /** sizing rules for thin viewports **/
    @media (max-aspect-ratio: 1/2) {
        .inputButton-light {
            @include inputButtonMobileThin;
          }

        .inputButton-dark {
            @include inputButtonMobileThin;
        }

    }
}














