.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2vh;
}
#title {
  font-family: Digital;
}
#themeToggleBtn {
  background-color: transparent;
  outline: none;
  border: 0;
  margin-left: 300%;
}
