@font-face {
  font-family: "Digital";
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot");
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff") format("woff"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7") format("svg");
}

/** Global styling variables **/
body {
  background-color: #afb830;
  background-image: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 100px, transparent 0px, transparent 200px), repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 100px, transparent 0px, transparent 200px);
}

/** Calculator coloring rules **/
.calculator {
  text-align: center;
  background-color: #FFBF47;
  color: black;
}

.calculator-dark {
  text-align: center;
  background-color: #32292F;
  color: white;
}

/* Calculator desktop sizing rules */
.numberPad {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  -ms-grid-rows: 25% 25% 25% 25%;
      grid-template-rows: 25% 25% 25% 25%;
  margin-top: 10%;
}

.calculator {
  width: 100%;
  margin: 4% auto;
  height: 650px;
  width: 400px;
  border-radius: 5%;
  -webkit-box-shadow: inset 4px 2px 2px rgba(255, 255, 255, 0.4), inset -2px -2px 2px rgba(0, 0, 0, 0.4);
          box-shadow: inset 4px 2px 2px rgba(255, 255, 255, 0.4), inset -2px -2px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 4px 2px 2px rgba(255, 255, 255, 0.178), inset -2px -2px 2px rgba(0, 0, 0, 0.548);
          box-shadow: inset 4px 2px 2px rgba(255, 255, 255, 0.178), inset -2px -2px 2px rgba(0, 0, 0, 0.548);
}

.calculator-dark {
  width: 100%;
  margin: 4% auto;
  height: 650px;
  width: 400px;
  border-radius: 5%;
  -webkit-box-shadow: inset 4px 2px 2px rgba(255, 255, 255, 0.4), inset -2px -2px 2px rgba(0, 0, 0, 0.4);
          box-shadow: inset 4px 2px 2px rgba(255, 255, 255, 0.4), inset -2px -2px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 4px 2px 2px rgba(255, 255, 255, 0.4), inset -2px -2px 2px rgba(0, 0, 0, 0.4);
}

/* Calculator mobile sizing rules */
@media only screen and (max-width: 600px) {
  /** for wider mobile viewports */
  .calculator {
    border-radius: 5%;
    -webkit-box-shadow: 6vw 6vh 6px rgba(0, 0, 0, 0.18), 0 1px 4px rgba(0, 0, 0, 0.24);
            box-shadow: 6vw 6vh 6px rgba(0, 0, 0, 0.18), 0 1px 4px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: inset 4px 2px 2px rgba(255, 255, 255, 0.4), inset -2px -2px 2px rgba(0, 0, 0, 0.4);
            box-shadow: inset 4px 2px 2px rgba(255, 255, 255, 0.4), inset -2px -2px 2px rgba(0, 0, 0, 0.4);
    margin: 20% auto;
    height: 78vh;
    width: 70%;
  }
  .calculator-dark {
    border-radius: 5%;
    -webkit-box-shadow: 6vw 6vh 6px rgba(0, 0, 0, 0.18), 0 1px 4px rgba(0, 0, 0, 0.24);
            box-shadow: 6vw 6vh 6px rgba(0, 0, 0, 0.18), 0 1px 4px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: inset 4px 2px 2px rgba(255, 255, 255, 0.4), inset -2px -2px 2px rgba(0, 0, 0, 0.4);
            box-shadow: inset 4px 2px 2px rgba(255, 255, 255, 0.4), inset -2px -2px 2px rgba(0, 0, 0, 0.4);
    margin: 20% auto;
    height: 78vh;
    width: 70%;
  }
  .numberPad {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25% 25% 25% 25%;
        grid-template-columns: 25% 25% 25% 25%;
    -ms-grid-rows: 36% 36% 36% 36%;
        grid-template-rows: 36% 36% 36% 36%;
    margin-top: 10%;
    margin-left: 0%;
  }
  /** for thinner phones **/
}

@media only screen and (max-width: 600px) and (max-aspect-ratio: 1 / 2) {
  .numberPad {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25% 25% 25% 25%;
        grid-template-columns: 25% 25% 25% 25%;
    -ms-grid-rows: 36% 36% 36% 36%;
        grid-template-rows: 36% 36% 36% 36%;
    margin-top: 19%;
    margin-left: 0%;
  }
  .calculator {
    border-radius: 5%;
    -webkit-box-shadow: 6vw 6vh 6px rgba(0, 0, 0, 0.18), 0 1px 4px rgba(0, 0, 0, 0.24);
            box-shadow: 6vw 6vh 6px rgba(0, 0, 0, 0.18), 0 1px 4px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: inset 4px 2px 2px rgba(255, 255, 255, 0.4), inset -2px -2px 2px rgba(0, 0, 0, 0.4);
            box-shadow: inset 4px 2px 2px rgba(255, 255, 255, 0.4), inset -2px -2px 2px rgba(0, 0, 0, 0.4);
    margin: 20% auto;
    height: 75vh;
    width: 80%;
  }
  .calculator-dark {
    border-radius: 5%;
    -webkit-box-shadow: 6vw 6vh 6px rgba(0, 0, 0, 0.18), 0 1px 4px rgba(0, 0, 0, 0.24);
            box-shadow: 6vw 6vh 6px rgba(0, 0, 0, 0.18), 0 1px 4px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: inset 4px 2px 2px rgba(255, 255, 255, 0.4), inset -2px -2px 2px rgba(0, 0, 0, 0.4);
            box-shadow: inset 4px 2px 2px rgba(255, 255, 255, 0.4), inset -2px -2px 2px rgba(0, 0, 0, 0.4);
    margin: 20% auto;
    height: 75vh;
    width: 80%;
  }
}
/*# sourceMappingURL=calculator.css.map */