@font-face {
    font-family: "Digital";
    src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot");
    src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix")
        format("embedded-opentype"),
      url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2")
        format("woff2"),
      url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff")
        format("woff"),
      url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf")
        format("truetype"),
      url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7")
        format("svg");
  }

  /** Global styling variables **/
  $calculator-desktop-width : 400px;
  $calculator-desktop-height : 650px;
  
  $calculator-mobile-width-thin : 80%;
  $calculator-mobile-height-thin : 75vh;

  $calculator-mobile-width-wide : 70%;
  $calculator-mobile-height-wide : 78vh;
  
  $lightShadow: inset 4px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4)
                ,  2vw 6vh 6px rgba(0, 0, 0, 0.18), 0 1px 4px rgba(0, 0, 0, 0.24);

  $darkShadow: inset 4px 2px 2px rgba(255, 255, 255, 0.178), inset -2px -2px 2px rgba(0, 0, 0, 0.548)
                ,  2vw 6vh 6px rgba(0, 0, 0, 0.18), 0 1px 4px rgba(0, 0, 0, 0.24);
  $transition-time: 0.2s;

  @mixin numberPad {
    display: grid;
    overflow:visible
  }
  
  


  /** Calculator coloring rules **/
  .calculator {
    text-align: center;
    background-color: #FFBF47;
    color: black;
    
  }
  

  .calculator-dark {
    text-align: center;
    background-color: #32292F ;
    color: white;
}
  

  /* Calculator desktop sizing rules */
  $grid-width: 25%;
  $grid-height: 25%;

  .numberPad{
    @include numberPad();
    grid-template-columns: $grid-width $grid-width $grid-width $grid-width;
    grid-template-rows: $grid-height $grid-height $grid-height $grid-height;
    margin-top: 10%;
    min-height: 36%;
  }
  
  @mixin calculator {
    width: 100%;
    margin: 4% auto;
    height: $calculator-desktop-height;
    width: $calculator-desktop-width;
    border-radius: 5%;

    box-shadow: inset 4px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
  }
  .calculator {
      @include calculator();
      box-shadow: $darkShadow;
  }

  .calculator-dark {
   @include calculator();
   box-shadow: $lightShadow;
  }
  


  /* Calculator mobile sizing rules */

  @mixin calculatorMobile {
    border-radius: 5%;
    box-shadow: 6vw 6vh 6px rgba(0, 0, 0, 0.18), 0 1px 4px rgba(0, 0, 0, 0.24);

    box-shadow: inset 4px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
  }
  @mixin calculatorMobileThin {
    @include calculatorMobile();
    margin: 20% auto;
    height: $calculator-mobile-height-thin;
    width: $calculator-mobile-width-thin;
    }

  @mixin calculatorMobileWide {
    @include calculatorMobile();
    margin: 17% auto;
    height: $calculator-mobile-height-wide;
    width: $calculator-mobile-width-wide;
  }


  @media only screen and (max-width: 600px){

    /** for wider mobile viewports */
    .calculator {
        @include calculatorMobileWide();
      }
      .calculator-dark {
        @include calculatorMobileWide();

       
     }
     
        $grid-width-mobile: 25%;
        $grid-height-mobile: 31%;

        .numberPad{
           @include numberPad();
            grid-template-columns: $grid-width-mobile $grid-width-mobile $grid-width-mobile $grid-width-mobile;
            grid-template-rows: $grid-height-mobile $grid-height-mobile $grid-height-mobile $grid-height-mobile;
            margin-top: 4vh;
            margin-left: 0%;
            
        }
        
      /** for thinner phones **/
      @media (max-aspect-ratio: 1/2) {

        $grid-width: 25%;
        $grid-height: 36%;

        .numberPad{
            
            @include numberPad();
            grid-template-columns: $grid-width $grid-width $grid-width $grid-width;
            grid-template-rows: $grid-height $grid-height $grid-height $grid-height;
            margin-top: 19%;
            margin-left: 0%;
            
          }
          .calculator {
            @include calculatorMobileThin();
          }
          .calculator-dark {
            @include calculatorMobileThin();
            
         }
      }



      
    
  }